<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webadvisor Premium</title>
</head>
<body>
    <div class="form-header">
        <h2>Sign up for courses</h2>
    </div>
    <form action="/subscribe" method="post">
        <label for="course1">Enter course 1:</label>
        <input id="course1" type="text" name="courses">

        <label for="course2">Enter course 2: </label>
        <input id="course2" type="text" name="courses">

        <label for="course3">Enter course 3: </label>
        <input id="course3" type="text" name="courses">

        <label for="course4">Enter course 4: </label>
        <input id="course4" type="text" name="courses">

        <label for="course5">Enter course 5: </label>
        <input id="course5" type="text" name="courses">

        <label for="email">Enter email: </label>
        <input id="email" type="text" name="email">

        <input type="submit" value="OK">
    </form>          
</body>
</html>